extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Daily Activity
    br
    br
    a.btn.btn-info-outline.btn-lg(href='/signup') Sign Up
    br
    br
    a.btn.btn-info-outline.btn-lg(href='/login') Log In

